# Combined MySQL and Lakehouse Data Fetching with Dynamic Country Detection

This notebook combines data from:
1. MySQL database (country-specific schemas)
2. AWS Athena Lakehouse (meth_2012 and positions_us_v1 schemas)

**Enhanced with dynamic country detection** - automatically detects which countries to fetch from each source:
- Fetches from MySQL for countries with individual schemas
- Fetches remaining countries from lakehouse meth_2012 + US schema
- No manual country lists required!

The final output will be a merged dataset with consistent column names.

In [1]:
# Import required libraries
import mysql.connector
import pandas as pd
import re
from datetime import datetime
import time
import boto3
import warnings
warnings.filterwarnings('ignore')

print("All libraries imported successfully!")

All libraries imported successfully!

## Configuration and Date Range Input

In [2]:
# Get execution date for file naming
execution_date = datetime.now().strftime("%Y%m%d")
print(f"Execution date: {execution_date}")

def get_date_range_from_user():
    """
    Prompts the user to enter a start and end date and validates their format (YYYY-MM-DD).
    Returns a tuple of (start_date, end_date) or (None, None) if input is invalid.
    """
    while True:
        start_date_str = input("Enter the start date (YYYY-MM-DD) for the query: ")
        end_date_str = input("Enter the end date (YYYY-MM-DD) for the query: ")
        try:
            start_date = datetime.strptime(start_date_str, "%Y-%m-%d")
            end_date = datetime.strptime(end_date_str, "%Y-%m-%d")
            if start_date > end_date:
                print("Start date must be before or equal to end date. Please try again.")
                continue
            return start_date_str, end_date_str
        except ValueError:
            print("Invalid date format. Please use YYYY-MM-DD.")

def validate_date_range(start_date_str, end_date_str):
    """
    Alternative function for environments where input() is not supported.
    Validates the provided start and end date strings.
    """
    try:
        start_date = datetime.strptime(start_date_str, "%Y-%m-%d")
        end_date = datetime.strptime(end_date_str, "%Y-%m-%d")
        if start_date > end_date:
            raise ValueError("Start date must be before or equal to end date.")
        return start_date_str, end_date_str
    except ValueError as e:
        print(f"Date validation error: {e}")
        return None, None

# Try to get dates from user input, fall back to manual entry if needed
try:
    start_date, end_date = get_date_range_from_user()
    print(f"âœ… Date range set: {start_date} to {end_date}")
except:
    print("âš ï¸ Interactive input not available. Please manually set your date range below:")
    # Modify these dates as needed
    start_date, end_date = validate_date_range('2025-01-01', '2025-12-31')
    if start_date and end_date:
        print(f"ðŸ“… Using default date range: {start_date} to {end_date}")
        print("ðŸ’¡ To use custom dates, modify the values in the validate_date_range() call above")
    else:
        print("âŒ Invalid date range. Please check the date format.")

Execution date: 20250703

Enter the start date (YYYY-MM-DD) for the query:  2025-06-01
Enter the end date (YYYY-MM-DD) for the query:  2025-06-30

âœ… Date range set: 2025-06-01 to 2025-06-30

## MySQL Database Connection and Schema Discovery

In [3]:
def connect_to_mysql():
    """
    Establishes a connection to the MySQL database using provided credentials.
    Returns a connection object or None if connection fails.
    """
    try:
        host = 'lookup-unsigned.cluster-ro-cyrwvn3qibpy.us-east-1.rds.amazonaws.com'
        user = input("Enter your MySQL username: ")
        password = input("Enter your MySQL password: ")

        mydb = mysql.connector.connect(
            host=host,
            user=user,
            password=password
        )
        print("âœ… Successfully connected to MySQL database.")
        return mydb
    except mysql.connector.Error as err:
        print(f"âŒ Error connecting to MySQL: {err}")
        return None
    except:
        print("âš ï¸ Interactive input not available for MySQL credentials.")
        print("ðŸ’¡ Please modify this cell to include your credentials directly if needed.")
        return None

# Connect to MySQL
mysql_conn = connect_to_mysql()

Enter your MySQL username:  hahhahaha
Enter your MySQL password:  hahahahahha

âš ï¸ Interactive input not available for MySQL credentials.
ðŸ’¡ Please modify this cell to include your credentials directly if needed.

In [4]:
def get_and_filter_schemas(db_connection):
    """
    Queries the database for all distinct schema names and filters them based on
    the pattern 'positions_{country_code}_v1', explicitly excluding 'positions_us_v1'.
    Returns a list of matching schema names.
    """
    if not db_connection:
        return []

    matching_schemas = []
    cursor = None
    try:
        cursor = db_connection.cursor()
        query = "SELECT DISTINCT schema_name FROM information_schema.schemata"
        cursor.execute(query)

        # Regex to match the pattern positions_{country_code}_v1
        schema_pattern = re.compile(r"^positions_([a-z]{2,})_v1$")

        for (schema_name,) in cursor:
            if schema_pattern.match(schema_name) and schema_name != "positions_us_v1":
                matching_schemas.append(schema_name)

        if matching_schemas:
            print(f"âœ… Found matching schemas (excluding 'positions_us_v1'): {', '.join(matching_schemas)}")
        else:
            print("âŒ No schemas found matching the pattern 'positions_{country_code}_v1' (excluding 'positions_us_v1').")

    except mysql.connector.Error as err:
        print(f"âŒ Error querying schemas: {err}")
    finally:
        if cursor:
            cursor.close()

    return matching_schemas

def extract_mysql_countries(filtered_schemas):
    """
    Extracts country codes from MySQL schema names.
    Returns a list of country codes that will be fetched from MySQL.
    """
    mysql_countries = []
    schema_pattern = re.compile(r"^positions_([a-z]{2,})_v1$")
    
    for schema in filtered_schemas:
        match = schema_pattern.match(schema)
        if match:
            country_code = match.group(1).upper()
            if country_code == 'UK':
                country_code = 'GB'
            mysql_countries.append(country_code)
    
    mysql_countries_sorted = sorted(set(mysql_countries))  # Remove duplicates and sort
    print(f"ðŸŒ MySQL will fetch data for countries: {', '.join(mysql_countries_sorted)}")
    return mysql_countries_sorted

# Get filtered schemas and extract countries
if mysql_conn:
    filtered_schemas = get_and_filter_schemas(mysql_conn)
    mysql_countries = extract_mysql_countries(filtered_schemas)
    print(f"Found {len(filtered_schemas)} schemas covering {len(mysql_countries)} countries")
else:
    filtered_schemas = []
    mysql_countries = []
    print("âš ï¸ No MySQL connection available")

âœ… Found matching schemas (excluding 'positions_us_v1'): positions_au_v1, positions_ca_v1, positions_fr_v1, positions_ph_v1, positions_pt_v1, positions_uk_v1, positions_co_v1, positions_pa_v1, positions_hrf_v1, positions_hk_v1, positions_tw_v1, positions_gh_v1, positions_pe_v1, positions_cl_v1, positions_ec_v1, positions_ma_v1, positions_ng_v1, positions_ke_v1, positions_gt_v1, positions_sv_v1, positions_uy_v1, positions_do_v1, positions_bd_v1, positions_hn_v1, positions_ve_v1, positions_ni_v1, positions_gr_v1, positions_il_v1, positions_qa_v1, positions_bh_v1, positions_hr_v1, positions_ba_v1, positions_kw_v1, positions_bg_v1, positions_mt_v1, positions_pk_v1, positions_sk_v1, positions_ua_v1, positions_eg_v1, positions_om_v1, positions_rs_v1, positions_id_v1, positions_lt_v1, positions_lv_v1, positions_vn_v1
ðŸŒ MySQL will fetch data for countries: AU, BA, BD, BG, BH, CA, CL, CO, DO, EC, EG, FR, GB, GH, GR, GT, HK, HN, HR, HRF, ID, IL, KE, KW, LT, LV, MA, MT, NG, NI, OM, PA, PE, PH, PK, PT, QA, RS, SK, SV, TW, UA, UY, VE, VN
Found 45 schemas covering 45 countries

## AWS Athena Connection and Dynamic Country Discovery

In [4]:
# Set up AWS credentials
print("ðŸ” Setting up AWS credentials...")
try:
    aws_access_key_id = input("Enter your aws_access_key_id: ")
    aws_secret_access_key = input("Enter your aws_secret_access_key: ")
    aws_session_token = input("Enter your aws_session_token: ")

    session = boto3.Session(
        aws_access_key_id=aws_access_key_id,
        aws_secret_access_key=aws_secret_access_key,
        aws_session_token=aws_session_token,
        region_name='us-east-1'
    )
    
    # Create Athena client
    athena_client = session.client('athena')
    print("âœ… AWS session and Athena client created successfully!")
except:
    print("âš ï¸ Interactive input not available for AWS credentials.")
    print("ðŸ’¡ Please modify this cell to include your AWS credentials directly if needed.")
    athena_client = None

ðŸ” Setting up AWS credentials...

Enter your aws_access_key_id:  ASIA6EAB4CAJRQKRW2M6
Enter your aws_secret_access_key:  iEIreoiYbnnyyBSfRUbPPQsZFbGAMbC4HzfYE7rG
Enter your aws_session_token:  IQoJb3JpZ2luX2VjEPP//////////wEaCXVzLWVhc3QtMSJHMEUCIQD6eO59EM0YJa0g3QTkc/Mvhd99we7kKkicYdSNXbtBSgIgOfMzJzVwmIz+uQ9mfqxjSKQ4tSzKk6kbcIPnAueCB+gqogMI7P//////////ARADGgw5NzA2NjY1NDUxNzEiDJlEDpwea6LI3A800Sr2AlPT0LYtqbAh0cm5dj1TvRFv4/DnQXL/Fv51b5EP8mmHKhbkrPhWvTje3dw1j9rMoHIioIcW2HUZRvU62kgbTFO6MHGbaLNbzxqmOyCF424lI1Qzro59bdKVzsOei28qDlYlNyQY1aCRMrd2CABtzr6FPy7NBwY3CbaMxoIJuGcGG0TJ8zKJE/2Btr1Re4ijHodVhHz8yflkGAJPKM8H9bBHbrFqkcscwXDFD9HPeQW+5wbN9lzXt4uIp3EZS9uM6DCTFfxhw8nk++K6f8KGqGmjwbEy7HkkWz4EK18ZiguyKHSlYQjqOM84ES8wIfs9cOYZSZO8jD5/BFC3BAYghYAlc6lG0RVBIHqYdXjhCNMCfFzJJcnW/BG17US4RULPTgn5gY178ijiozUdp6VFnC4y4yVac2581Rc/F8L8tHEf2/XMvf36BV44u1MIn6nxoALkT5015O6D0G670OCMsDsr8hYtlMsDWLgbBGmVF/qTQyc4zXbvMLyWlMMGOqYBy3Vgrk2wwW6jiugfgmrpsm0pnswqce+LczMZJnm/XpTS0TFBHchsKennUsRCFqSu5cq+oEj4oIi1Lt/U7N5lgEQx9a9mcCCm8ZkE4a0XnMtolcAsHjC9xoIBCnrZZuu7b+nWB2kP3CvaPpzgfJaoNpySxieCBrSE2fTsudJTt/URf8icQ/7KQ83EwOX1Nsjgc5NpjcShh8WFn+nSkNUp4dXkarc5Rw==

âœ… AWS session and Athena client created successfully!

In [5]:
def get_lakehouse_countries(athena_client, mysql_countries):
    """
    Queries Athena to get all distinct country codes from meth_2012 schema,
    then filters out countries already covered by MySQL schemas.
    Returns a list of country codes to fetch from lakehouse.
    """
    if not athena_client:
        print("âš ï¸ No Athena client available for country discovery")
        return []
    
    # Query to get distinct countries from meth_2012 schema
    discovery_query = """
    SELECT DISTINCT country_code
    FROM "demand"."positions"
    WHERE position_schema = 'meth_2012'
      AND country_code IS NOT NULL
      AND country_code != ''
    ORDER BY country_code
    """
    
    try:
        print("ðŸ” Discovering available countries in lakehouse meth_2012 schema...")
        start_time = time.time()
        
        response = athena_client.start_query_execution(
            QueryString=discovery_query,
            QueryExecutionContext={
                'Database': 'demand'
            },
            ResultConfiguration={
                'OutputLocation': 's3://naman.kansal/Local Lakehouse Queries/'
            }
        )
        
        query_execution_id = response['QueryExecutionId']
        print(f"Country discovery query ID: {query_execution_id}")
        
        # Wait for query to complete
        while True:
            status = athena_client.get_query_execution(QueryExecutionId=query_execution_id)['QueryExecution']['Status']['State']
            if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
                break
            print("â³ Country discovery query running...")
            time.sleep(5)
        
        end_time = time.time()
        execution_time = round(end_time - start_time, 2)
        
        if status == 'SUCCEEDED':
            print(f"âœ… Country discovery completed in {execution_time} seconds")
            
            # Fetch results
            results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
            
            # Extract country codes
            all_lakehouse_countries = []
            for row in results['ResultSet']['Rows'][1:]:  # Skip header
                country_code = row['Data'][0].get('VarCharValue', '').strip()
                if country_code:
                    all_lakehouse_countries.append(country_code)
            
            print(f"ðŸŒ Found {len(all_lakehouse_countries)} countries in lakehouse meth_2012 schema")
            print(f"ðŸ“ All lakehouse countries: {', '.join(sorted(all_lakehouse_countries))}")
            
            # Filter out countries already covered by MySQL
            countries_to_fetch = [c for c in all_lakehouse_countries if c not in mysql_countries]
            countries_to_fetch_sorted = sorted(set(countries_to_fetch))
            
            print(f"\nðŸŽ¯ Lakehouse will fetch data for countries: {', '.join(countries_to_fetch_sorted)}")
            print(f"ðŸš« Excluded (already in MySQL): {', '.join(sorted(set(mysql_countries)))}")
            
            return countries_to_fetch_sorted
        else:
            print(f"âŒ Country discovery query failed with status: {status}")
            return []
            
    except Exception as e:
        print(f"âŒ Error during country discovery: {e}")
        return []

# Discover countries to fetch from lakehouse
if athena_client:
    lakehouse_countries = get_lakehouse_countries(athena_client, mysql_countries)
    print(f"\nðŸ“Š Data fetching strategy:")
    print(f"   â€¢ MySQL: {len(mysql_countries)} countries via individual schemas")
    print(f"   â€¢ Lakehouse: {len(lakehouse_countries)} countries via meth_2012 + US via positions_us_v1")
    print(f"   â€¢ Total unique countries: {len(set(mysql_countries + lakehouse_countries + ['US']))}")
else:
    lakehouse_countries = []
    print("âš ï¸ Skipping lakehouse country discovery - no client available")

NameError: name 'mysql_countries' is not defined

## MySQL Data Fetching

In [7]:
def fetch_mysql_data(db_connection, schema_list, start_date_str, end_date_str):
    """
    For each schema in the list, constructs and executes a SQL query
    with date range filtering to fetch job and position data.
    Returns a pandas DataFrame containing all results and a timing report DataFrame.
    """
    if not db_connection or not schema_list:
        return pd.DataFrame(), pd.DataFrame()

    all_data_frames = []
    timing_records = []
    schema_pattern_for_country_code = re.compile(r"^positions_([a-z]{2,})_v1$")

    for schema_name in schema_list:
        match = schema_pattern_for_country_code.match(schema_name)
        if not match:
            print(
                f"âš ï¸ Skipping schema '{schema_name}' as it doesn't match expected pattern "
                "for country code extraction."
            )
            continue

        country_code_lower = match.group(1)
        if country_code_lower == "uk":
            country_code_upper = "GB"
        else:
            country_code_upper = country_code_lower.upper()

        # Timing start
        start_time = datetime.now()
        start_time_unix = time.time()

        # Updated SQL query with date range filtering
        sql_query = f"""
        SELECT
            '{country_code_upper}' AS country_code,
            DATE_FORMAT(b.date, '%b-%y') AS position_month,
            a.covering_source_id as source_id,
            jl.`language` as `language`, 
            COUNT(DISTINCT a.job_id) AS total_jobs,
            COUNT(DISTINCT a.position_id) AS total_positions,
            'mysql' as data_source
        FROM
            {schema_name}.long_term_jobs_m2012_new a
            LEFT JOIN norm_prod.dates b ON (a.ad_first_seen_date_id = b.id)
            LEFT JOIN jobs.tbl_JobLanguage jl ON (a.job_id = jl.jobid)
            LEFT JOIN acqnotes.sources c ON (a.covering_source_id = c.id)
        WHERE 1=1
            AND b.year = 2025
            AND b.date >= '{start_date_str}'
            AND b.date <= '{end_date_str}'
        GROUP BY
            1, 2, 3, 4;
        """

        print(f"\nðŸ”„ Executing query for schema: {schema_name} (Country: {country_code_upper})")
        try:
            df_schema = pd.read_sql_query(sql_query, db_connection)
            end_time = datetime.now()
            end_time_unix = time.time()
            total_processing_time = end_time_unix - start_time_unix

            timing_records.append({
                "schema": schema_name,
                "country_code": country_code_upper,
                "start_time": start_time.strftime('%Y-%m-%d %H:%M:%S'),
                "end_time": end_time.strftime('%Y-%m-%d %H:%M:%S'),
                "total_processing_seconds": round(total_processing_time, 2),
                "data_source": "mysql",
                "date_range": f"{start_date_str} to {end_date_str}"
            })

            if not df_schema.empty:
                print(f"âœ… Successfully fetched {len(df_schema)} rows from {schema_name}.")
                all_data_frames.append(df_schema)
            else:
                print(f"âš ï¸ No data returned from {schema_name} for the given date range.")
        except Exception as e:
            end_time = datetime.now()
            end_time_unix = time.time()
            total_processing_time = end_time_unix - start_time_unix

            timing_records.append({
                "schema": schema_name,
                "country_code": country_code_upper,
                "start_time": start_time.strftime('%Y-%m-%d %H:%M:%S'),
                "end_time": end_time.strftime('%Y-%m-%d %H:%M:%S'),
                "total_processing_seconds": round(total_processing_time, 2),
                "error": str(e),
                "data_source": "mysql",
                "date_range": f"{start_date_str} to {end_date_str}"
            })

            print(f"âŒ Error executing query for schema {schema_name}: {e}")

    if not all_data_frames:
        print("âš ï¸ No data collected from any MySQL schemas.")
        return pd.DataFrame(), pd.DataFrame(timing_records)

    final_df = pd.concat(all_data_frames, ignore_index=True)
    timing_df = pd.DataFrame(timing_records)
    return final_df, timing_df

# Fetch MySQL data
if mysql_conn and filtered_schemas and start_date and end_date:
    print("\nðŸš€ Starting MySQL data fetching process...")
    mysql_results_df, mysql_timing_df = fetch_mysql_data(mysql_conn, filtered_schemas, start_date, end_date)
    print(f"\nðŸ“Š MySQL Results: {len(mysql_results_df)} total rows")
    if not mysql_results_df.empty:
        print("MySQL Data Preview:")
        print(mysql_results_df.head())
else:
    mysql_results_df = pd.DataFrame()
    mysql_timing_df = pd.DataFrame()
    print("âš ï¸ Skipping MySQL data fetch - no connection, schemas, or date range available")

ðŸš€ Starting MySQL data fetching process...

ðŸ”„ Executing query for schema: positions_au_v1 (Country: AU)
âœ… Successfully fetched 1429 rows from positions_au_v1.

ðŸ”„ Executing query for schema: positions_ca_v1 (Country: CA)
âœ… Successfully fetched 4070 rows from positions_ca_v1.

ðŸ”„ Executing query for schema: positions_fr_v1 (Country: FR)
âœ… Successfully fetched 2231 rows from positions_fr_v1.

ðŸ”„ Executing query for schema: positions_ph_v1 (Country: PH)
âœ… Successfully fetched 826 rows from positions_ph_v1.

ðŸ”„ Executing query for schema: positions_pt_v1 (Country: PT)
âœ… Successfully fetched 586 rows from positions_pt_v1.

ðŸ”„ Executing query for schema: positions_uk_v1 (Country: GB)
âœ… Successfully fetched 3161 rows from positions_uk_v1.

ðŸ”„ Executing query for schema: positions_co_v1 (Country: CO)
âœ… Successfully fetched 555 rows from positions_co_v1.

ðŸ”„ Executing query for schema: positions_pa_v1 (Country: PA)
âœ… Successfully fetched 277 rows from positions_pa_v1.

ðŸ”„ Executing query for schema: positions_hrf_v1 (Country: HRF)
âœ… Successfully fetched 1 rows from positions_hrf_v1.

ðŸ”„ Executing query for schema: positions_hk_v1 (Country: HK)
âœ… Successfully fetched 494 rows from positions_hk_v1.

ðŸ”„ Executing query for schema: positions_tw_v1 (Country: TW)
âœ… Successfully fetched 444 rows from positions_tw_v1.

ðŸ”„ Executing query for schema: positions_gh_v1 (Country: GH)
âœ… Successfully fetched 107 rows from positions_gh_v1.

ðŸ”„ Executing query for schema: positions_pe_v1 (Country: PE)
âœ… Successfully fetched 373 rows from positions_pe_v1.

ðŸ”„ Executing query for schema: positions_cl_v1 (Country: CL)
âœ… Successfully fetched 344 rows from positions_cl_v1.

ðŸ”„ Executing query for schema: positions_ec_v1 (Country: EC)
âœ… Successfully fetched 220 rows from positions_ec_v1.

ðŸ”„ Executing query for schema: positions_ma_v1 (Country: MA)
âœ… Successfully fetched 180 rows from positions_ma_v1.

ðŸ”„ Executing query for schema: positions_ng_v1 (Country: NG)
âœ… Successfully fetched 144 rows from positions_ng_v1.

ðŸ”„ Executing query for schema: positions_ke_v1 (Country: KE)
âœ… Successfully fetched 307 rows from positions_ke_v1.

ðŸ”„ Executing query for schema: positions_gt_v1 (Country: GT)
âœ… Successfully fetched 144 rows from positions_gt_v1.

ðŸ”„ Executing query for schema: positions_sv_v1 (Country: SV)
âœ… Successfully fetched 83 rows from positions_sv_v1.

ðŸ”„ Executing query for schema: positions_uy_v1 (Country: UY)
âœ… Successfully fetched 120 rows from positions_uy_v1.

ðŸ”„ Executing query for schema: positions_do_v1 (Country: DO)
âœ… Successfully fetched 139 rows from positions_do_v1.

ðŸ”„ Executing query for schema: positions_bd_v1 (Country: BD)
âœ… Successfully fetched 92 rows from positions_bd_v1.

ðŸ”„ Executing query for schema: positions_hn_v1 (Country: HN)
âœ… Successfully fetched 123 rows from positions_hn_v1.

ðŸ”„ Executing query for schema: positions_ve_v1 (Country: VE)
âœ… Successfully fetched 55 rows from positions_ve_v1.

ðŸ”„ Executing query for schema: positions_ni_v1 (Country: NI)
âœ… Successfully fetched 181 rows from positions_ni_v1.

ðŸ”„ Executing query for schema: positions_gr_v1 (Country: GR)
âœ… Successfully fetched 329 rows from positions_gr_v1.

ðŸ”„ Executing query for schema: positions_il_v1 (Country: IL)
âœ… Successfully fetched 225 rows from positions_il_v1.

ðŸ”„ Executing query for schema: positions_qa_v1 (Country: QA)
âœ… Successfully fetched 163 rows from positions_qa_v1.

ðŸ”„ Executing query for schema: positions_bh_v1 (Country: BH)
âœ… Successfully fetched 81 rows from positions_bh_v1.

ðŸ”„ Executing query for schema: positions_hr_v1 (Country: HR)
âœ… Successfully fetched 163 rows from positions_hr_v1.

ðŸ”„ Executing query for schema: positions_ba_v1 (Country: BA)
âœ… Successfully fetched 43 rows from positions_ba_v1.

ðŸ”„ Executing query for schema: positions_kw_v1 (Country: KW)
âœ… Successfully fetched 112 rows from positions_kw_v1.

ðŸ”„ Executing query for schema: positions_bg_v1 (Country: BG)
âœ… Successfully fetched 264 rows from positions_bg_v1.

ðŸ”„ Executing query for schema: positions_mt_v1 (Country: MT)
âœ… Successfully fetched 98 rows from positions_mt_v1.

ðŸ”„ Executing query for schema: positions_pk_v1 (Country: PK)
âœ… Successfully fetched 165 rows from positions_pk_v1.

ðŸ”„ Executing query for schema: positions_sk_v1 (Country: SK)
âœ… Successfully fetched 247 rows from positions_sk_v1.

ðŸ”„ Executing query for schema: positions_ua_v1 (Country: UA)
âœ… Successfully fetched 227 rows from positions_ua_v1.

ðŸ”„ Executing query for schema: positions_eg_v1 (Country: EG)
âœ… Successfully fetched 321 rows from positions_eg_v1.

ðŸ”„ Executing query for schema: positions_om_v1 (Country: OM)
âœ… Successfully fetched 123 rows from positions_om_v1.

ðŸ”„ Executing query for schema: positions_rs_v1 (Country: RS)
âœ… Successfully fetched 198 rows from positions_rs_v1.

ðŸ”„ Executing query for schema: positions_id_v1 (Country: ID)
âœ… Successfully fetched 1235 rows from positions_id_v1.

ðŸ”„ Executing query for schema: positions_lt_v1 (Country: LT)
âœ… Successfully fetched 189 rows from positions_lt_v1.

ðŸ”„ Executing query for schema: positions_lv_v1 (Country: LV)
âœ… Successfully fetched 111 rows from positions_lv_v1.

ðŸ”„ Executing query for schema: positions_vn_v1 (Country: VN)
âœ… Successfully fetched 413 rows from positions_vn_v1.

ðŸ“Š MySQL Results: 21393 total rows
MySQL Data Preview:
  country_code position_month  source_id language  total_jobs  \
0           AU         Jun-25        461       en           2
1           AU         Jun-25        757       en           3
2           AU         Jun-25        906       en           1
3           AU         Jun-25        990       en           3
4           AU         Jun-25        991       en           1

   total_positions data_source
0                2       mysql
1                3       mysql
2                1       mysql
3                2       mysql
4                1       mysql

## Lakehouse Data Fetching with Dynamic Country List

In [8]:
def build_dynamic_athena_query(start_date_str, end_date_str, lakehouse_countries):
    """
    Builds the Athena query with dynamically determined country list.
    """
    # Convert lakehouse_countries list to SQL format
    if lakehouse_countries:
        country_list_sql = "', '".join(lakehouse_countries)
        country_filter = f"'{ country_list_sql }'"
    else:
        # If no countries to fetch from meth_2012, use empty condition that will be false
        country_filter = "'__NO_COUNTRIES__'"
    
    query = f"""
    WITH filtered_positions AS (
      SELECT
        p.position_id,
        p.preferred_job_id,
        p.position_schema,
        p.country_code,
        p.job_id_list
      FROM "demand"."positions" p
      WHERE p.year = 2025
        AND p.position_schema IN ('meth_2012', 'positions_us_v1')
    ),
    exploded_jobs AS (
      SELECT
        fp.position_id,
        fp.position_schema,
        fp.country_code,
        fp.preferred_job_id,
        job_id
      FROM filtered_positions AS fp
      CROSS JOIN UNNEST(fp.job_id_list) AS t(job_id)
    )
    SELECT
      e.country_code,
      date_format(
        date_trunc('month', j.first_seen_date),
        '%b-%y'
      ) AS position_month,
      j.source_id,
      j.source_name,
      j.source_country,
      jl.language,
      COUNT(DISTINCT e.job_id) AS total_jobs,
      COUNT(DISTINCT e.position_id) AS total_positions,
      'athena' as data_source
    FROM exploded_jobs AS e
    JOIN "demand"."jobs" j
      ON e.job_id = j.job_id
    JOIN "demand"."job_languages" jl ON (jl.job_id = j.job_id)
    WHERE
      j.first_seen_date >= date '{start_date_str}'
      AND j.first_seen_date <= date '{end_date_str}'
      AND (
        (
          e.position_schema = 'meth_2012'
            AND e.country_code IN ({country_filter})
        )
        OR
        e.position_schema = 'positions_us_v1'
      )
    GROUP BY
      e.country_code,
      date_trunc('month', j.first_seen_date),
      j.source_id,
      j.source_name,
      j.source_country,
      jl.language
    ORDER BY
      e.country_code,
      date_trunc('month', j.first_seen_date);
    """
    
    return query

def fetch_athena_data(athena_client, start_date_str, end_date_str, lakehouse_countries):
    """
    Executes Athena query with dynamically determined country list and returns results as DataFrame
    """
    if not athena_client:
        return pd.DataFrame()
    
    # Build dynamic query
    query = build_dynamic_athena_query(start_date_str, end_date_str, lakehouse_countries)
    
    # Print query info
    print(f"\nðŸŽ¯ Athena query will fetch:")
    print(f"   â€¢ meth_2012 countries: {', '.join(lakehouse_countries) if lakehouse_countries else 'None'}")
    print(f"   â€¢ positions_us_v1: US data")
    print(f"   â€¢ Date range: {start_date_str} to {end_date_str}")
    
    try:
        print("\nðŸš€ Starting Athena query execution...")
        start_time = time.time()
        
        response = athena_client.start_query_execution(
            QueryString=query,
            QueryExecutionContext={
                'Database': 'demand'
            },
            ResultConfiguration={
                'OutputLocation': 's3://naman.kansal/Local Lakehouse Queries/'
            }
        )
        
        # Get query execution ID
        query_execution_id = response['QueryExecutionId']
        print(f"Query execution ID: {query_execution_id}")
        
        # Wait for query to complete
        while True:
            status = athena_client.get_query_execution(QueryExecutionId=query_execution_id)['QueryExecution']['Status']['State']
            if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
                break
            print("â³ Query is still running...")
            time.sleep(15)
        
        end_time = time.time()
        execution_time = round(end_time - start_time, 2)
        
        # Check if the query succeeded
        if status == 'SUCCEEDED':
            print(f"âœ… Query completed successfully in {execution_time} seconds")
            
            # Fetch results
            results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
            
            # Extract data from results
            columns = [col['Label'] for col in results['ResultSet']['ResultSetMetadata']['ColumnInfo']]
            rows = [row['Data'] for row in results['ResultSet']['Rows'][1:]]  # Skip header row
            data = [[col['VarCharValue'] if 'VarCharValue' in col else None for col in row] for row in rows]
            
            # Convert to DataFrame
            df = pd.DataFrame(data, columns=columns)
            print(f"ðŸ“Š Athena Results: {len(df)} total rows")
            
            if not df.empty:
                countries_fetched = sorted(df['country_code'].unique())
                print(f"ðŸŒ Countries successfully fetched: {', '.join(countries_fetched)}")
            
            return df
        else:
            print(f"âŒ Query failed with status: {status}")
            return pd.DataFrame()
            
    except Exception as e:
        print(f"âŒ Error executing Athena query: {e}")
        return pd.DataFrame()

# Fetch Athena data with dynamic country list
if athena_client and start_date and end_date:
    athena_results_df = fetch_athena_data(athena_client, start_date, end_date, lakehouse_countries)
    if not athena_results_df.empty:
        print("\nAthena Data Preview:")
        print(athena_results_df.head())
else:
    athena_results_df = pd.DataFrame()
    print("âš ï¸ Skipping Athena data fetch - no client or date range available")

ðŸŽ¯ Athena query will fetch:
   â€¢ meth_2012 countries: AD, AE, AF, AG, AI, AL, AM, AO, AQ, AR, AS, AT, AW, AX, AZ, BB, BE, BF, BI, BJ, BL, BM, BN, BO, BQ, BR, BS, BT, BV, BW, BY, BZ, CC, CD, CF, CG, CH, CI, CK, CM, CN, CP, CR, CU, CV, CW, CX, CY, CZ, DE, DJ, DK, DM, DZ, EE, EH, ER, ES, ET, FI, FJ, FK, FM, FO, GA, GD, GE, GF, GG, GI, GL, GM, GN, GP, GQ, GS, GU, GW, GY, HM, HT, HU, IE, IM, IN, IO, IQ, IR, IS, IT, JE, JM, JO, JP, KG, KH, KI, KM, KN, KP, KR, KY, KZ, LA, LB, LC, LI, LK, LR, LS, LU, LY, MC, MD, ME, MF, MG, MH, MK, ML, MM, MN, MP, MQ, MR, MS, MU, MV, MW, MX, MY, MZ, NA, NC, NE, NF, NL, NO, NP, NR, NU, NZ, PF, PG, PL, PM, PN, PS, PW, PY, RE, RO, RU, RW, SA, SB, SC, SD, SE, SG, SH, SI, SJ, SL, SM, SN, SO, SR, SS, ST, SX, SY, SZ, TC, TD, TF, TG, TH, TJ, TK, TL, TM, TN, TO, TR, TT, TV, TZ, UG, UM, US, UZ, VA, VC, VG, VI, VU, WF, WS, YE, YT, ZA, ZM, ZW
   â€¢ positions_us_v1: US data
   â€¢ Date range: 2025-06-01 to 2025-06-30

ðŸš€ Starting Athena query execution...
Query execution ID: 56103e56-087d-4a9e-8f2d-88314f69dabb
â³ Query is still running...
â³ Query is still running...
â³ Query is still running...
âœ… Query completed successfully in 47.07 seconds
ðŸ“Š Athena Results: 999 total rows
ðŸŒ Countries successfully fetched: AE, AR

Athena Data Preview:
  country_code position_month source_id        source_name source_country  \
0           AE         Jun-25    100153  FedEx Corporation
1           AE         Jun-25    152154             GovCIO             US
2           AE         Jun-25    141648               Suez
3           AE         Jun-25    140741            Tanqeeb
4           AE         Jun-25    152691              Knauf

  language total_jobs total_positions data_source
0       en          4               4      athena
1       en          2               2      athena
2       en          4               4      athena
3       ar          4               4      athena
4       en          1               1      athena

## Data Harmonization and Merging

In [9]:
def harmonize_and_merge_data(mysql_df, athena_df):
    """
    Harmonizes column names and data types, then merges the two DataFrames
    """
    combined_dfs = []
    
    # Process MySQL data
    if not mysql_df.empty:
        mysql_harmonized = mysql_df.copy()
        # Add missing columns with None values
        mysql_harmonized['source_name'] = None
        mysql_harmonized['source_country'] = None
        print(f"âœ… MySQL data harmonized: {len(mysql_harmonized)} rows")
        combined_dfs.append(mysql_harmonized)
    
    # Process Athena data  
    if not athena_df.empty:
        athena_harmonized = athena_df.copy()
        print(f"âœ… Athena data harmonized: {len(athena_harmonized)} rows")
        combined_dfs.append(athena_harmonized)
    
    # Combine all DataFrames
    if combined_dfs:
        final_combined_df = pd.concat(combined_dfs, ignore_index=True)
        
        # Ensure consistent column order
        column_order = [
            'country_code', 'position_month', 'source_id', 'source_name', 
            'source_country', 'language', 'total_jobs', 'total_positions', 'data_source'
        ]
        
        final_combined_df = final_combined_df.reindex(columns=column_order)
        
        # Convert numeric columns
        numeric_columns = ['source_id', 'total_jobs', 'total_positions']
        for col in numeric_columns:
            if col in final_combined_df.columns:
                final_combined_df[col] = pd.to_numeric(final_combined_df[col], errors='coerce')
        
        print(f"\nðŸŽ‰ Successfully combined datasets!")
        print(f"ðŸ“Š Total combined rows: {len(final_combined_df)}")
        print(f"ðŸ“Š MySQL rows: {len(mysql_df) if not mysql_df.empty else 0}")
        print(f"ðŸ“Š Athena rows: {len(athena_df) if not athena_df.empty else 0}")
        print(f"ðŸ“… Date range analyzed: {start_date} to {end_date}")
        
        # Check for data completeness
        all_countries_in_data = sorted(final_combined_df['country_code'].unique())
        expected_countries = sorted(set(mysql_countries + lakehouse_countries + ['US']))
        
        print(f"\nðŸ” Data completeness check:")
        print(f"   Expected countries: {', '.join(expected_countries)}")
        print(f"   Actual countries in data: {', '.join(all_countries_in_data)}")
        
        missing_countries = set(expected_countries) - set(all_countries_in_data)
        if missing_countries:
            print(f"   âš ï¸ Missing countries: {', '.join(sorted(missing_countries))}")
        else:
            print(f"   âœ… All expected countries present in data")
        
        return final_combined_df
    else:
        print("âš ï¸ No data available to combine")
        return pd.DataFrame()

# Harmonize and merge data
print("\nðŸ”„ Harmonizing and merging datasets...")
combined_final_df = harmonize_and_merge_data(mysql_results_df, athena_results_df)

if not combined_final_df.empty:
    print("\nðŸ“‹ Combined Dataset Info:")
    print(combined_final_df.info())
    print("\nðŸ“Š Combined Data Preview:")
    print(combined_final_df.head(10))
    print("\nðŸ“ˆ Data Source Distribution:")
    print(combined_final_df['data_source'].value_counts())
    print("\nðŸ“ˆ Date Range Coverage:")
    print(combined_final_df['position_month'].value_counts().sort_index())

ðŸ”„ Harmonizing and merging datasets...
âœ… MySQL data harmonized: 21393 rows
âœ… Athena data harmonized: 999 rows

ðŸŽ‰ Successfully combined datasets!
ðŸ“Š Total combined rows: 22392
ðŸ“Š MySQL rows: 21393
ðŸ“Š Athena rows: 999
ðŸ“… Date range analyzed: 2025-06-01 to 2025-06-30

ðŸ” Data completeness check:
   Expected countries: AD, AE, AF, AG, AI, AL, AM, AO, AQ, AR, AS, AT, AU, AW, AX, AZ, BA, BB, BD, BE, BF, BG, BH, BI, BJ, BL, BM, BN, BO, BQ, BR, BS, BT, BV, BW, BY, BZ, CA, CC, CD, CF, CG, CH, CI, CK, CL, CM, CN, CO, CP, CR, CU, CV, CW, CX, CY, CZ, DE, DJ, DK, DM, DO, DZ, EC, EE, EG, EH, ER, ES, ET, FI, FJ, FK, FM, FO, FR, GA, GB, GD, GE, GF, GG, GH, GI, GL, GM, GN, GP, GQ, GR, GS, GT, GU, GW, GY, HK, HM, HN, HR, HRF, HT, HU, ID, IE, IL, IM, IN, IO, IQ, IR, IS, IT, JE, JM, JO, JP, KE, KG, KH, KI, KM, KN, KP, KR, KW, KY, KZ, LA, LB, LC, LI, LK, LR, LS, LT, LU, LV, LY, MA, MC, MD, ME, MF, MG, MH, MK, ML, MM, MN, MP, MQ, MR, MS, MT, MU, MV, MW, MX, MY, MZ, NA, NC, NE, NF, NG, NI, NL, NO, NP, NR, NU, NZ, OM, PA, PE, PF, PG, PH, PK, PL, PM, PN, PS, PT, PW, PY, QA, RE, RO, RS, RU, RW, SA, SB, SC, SD, SE, SG, SH, SI, SJ, SK, SL, SM, SN, SO, SR, SS, ST, SV, SX, SY, SZ, TC, TD, TF, TG, TH, TJ, TK, TL, TM, TN, TO, TR, TT, TV, TW, TZ, UA, UG, UM, US, UY, UZ, VA, VC, VE, VG, VI, VN, VU, WF, WS, YE, YT, ZA, ZM, ZW
   Actual countries in data: AE, AR, AU, BA, BD, BG, BH, CA, CL, CO, DO, EC, EG, FR, GB, GH, GR, GT, HK, HN, HR, HRF, ID, IL, KE, KW, LT, LV, MA, MT, NG, NI, OM, PA, PE, PH, PK, PT, QA, RS, SK, SV, TW, UA, UY, VE, VN
   âš ï¸ Missing countries: AD, AF, AG, AI, AL, AM, AO, AQ, AS, AT, AW, AX, AZ, BB, BE, BF, BI, BJ, BL, BM, BN, BO, BQ, BR, BS, BT, BV, BW, BY, BZ, CC, CD, CF, CG, CH, CI, CK, CM, CN, CP, CR, CU, CV, CW, CX, CY, CZ, DE, DJ, DK, DM, DZ, EE, EH, ER, ES, ET, FI, FJ, FK, FM, FO, GA, GD, GE, GF, GG, GI, GL, GM, GN, GP, GQ, GS, GU, GW, GY, HM, HT, HU, IE, IM, IN, IO, IQ, IR, IS, IT, JE, JM, JO, JP, KG, KH, KI, KM, KN, KP, KR, KY, KZ, LA, LB, LC, LI, LK, LR, LS, LU, LY, MC, MD, ME, MF, MG, MH, MK, ML, MM, MN, MP, MQ, MR, MS, MU, MV, MW, MX, MY, MZ, NA, NC, NE, NF, NL, NO, NP, NR, NU, NZ, PF, PG, PL, PM, PN, PS, PW, PY, RE, RO, RU, RW, SA, SB, SC, SD, SE, SG, SH, SI, SJ, SL, SM, SN, SO, SR, SS, ST, SX, SY, SZ, TC, TD, TF, TG, TH, TJ, TK, TL, TM, TN, TO, TR, TT, TV, TZ, UG, UM, US, UZ, VA, VC, VG, VI, VU, WF, WS, YE, YT, ZA, ZM, ZW

ðŸ“‹ Combined Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22392 entries, 0 to 22391
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_code     22392 non-null  object
 1   position_month   22392 non-null  object
 2   source_id        22392 non-null  int64
 3   source_name      999 non-null    object
 4   source_country   999 non-null    object
 5   language         22392 non-null  object
 6   total_jobs       22392 non-null  int64
 7   total_positions  22392 non-null  int64
 8   data_source      22392 non-null  object
dtypes: int64(3), object(6)
memory usage: 1.5+ MB
None

ðŸ“Š Combined Data Preview:
  country_code position_month  source_id source_name source_country language  \
0           AU         Jun-25        461        None           None       en
1           AU         Jun-25        757        None           None       en
2           AU         Jun-25        906        None           None       en
3           AU         Jun-25        990        None           None       en
4           AU         Jun-25        991        None           None       en
5           AU         Jun-25       1093        None           None       en
6           AU         Jun-25       1098        None           None       en
7           AU         Jun-25       1110        None           None       en
8           AU         Jun-25       1334        None           None       en
9           AU         Jun-25       1348        None           None       en

   total_jobs  total_positions data_source
0           2                2       mysql
1           3                3       mysql
2           1                1       mysql
3           3                2       mysql
4           1                1       mysql
5          43               39       mysql
6          19               19       mysql
7          41               41       mysql
8          16               16       mysql
9          29               29       mysql

ðŸ“ˆ Data Source Distribution:
mysql     21393
athena      999
Name: data_source, dtype: int64

ðŸ“ˆ Date Range Coverage:
Jun-25    22392
Name: position_month, dtype: int64

## Export Results

In [10]:
# Generate date range suffix for filenames
date_range_suffix = f"{start_date.replace('-', '')}_{end_date.replace('-', '')}" if start_date and end_date else execution_date

# Save combined results
if not combined_final_df.empty:
    # Main combined dataset
    combined_csv_filename = f"Combined_MoM_Country_Source_Volume_Dynamic_{date_range_suffix}.csv"
    try:
        combined_final_df.to_csv(combined_csv_filename, index=False)
        print(f"âœ… Combined dataset saved to: {combined_csv_filename}")
    except Exception as e:
        print(f"âŒ Error saving combined dataset: {e}")
    
    # Country mapping report
    country_mapping = pd.DataFrame({
        'country_code': sorted(set(mysql_countries + lakehouse_countries + ['US'])),
    })
    country_mapping['data_source'] = country_mapping['country_code'].apply(
        lambda x: 'mysql' if x in mysql_countries else 'athena'
    )
    country_mapping['schema_type'] = country_mapping.apply(
        lambda row: f"positions_{row['country_code'].lower()}_v1" if row['data_source'] == 'mysql' 
                    else 'positions_us_v1' if row['country_code'] == 'US'
                    else 'meth_2012', axis=1
    )
    
    mapping_filename = f"Country_Source_Mapping_{date_range_suffix}.csv"
    try:
        country_mapping.to_csv(mapping_filename, index=False)
        print(f"âœ… Country mapping saved to: {mapping_filename}")
    except Exception as e:
        print(f"âŒ Error saving country mapping: {e}")
    
    # Summary statistics by date range
    summary_stats = combined_final_df.groupby(['data_source', 'country_code', 'position_month']).agg({
        'total_jobs': 'sum',
        'total_positions': 'sum',
        'source_id': 'nunique'
    }).reset_index()
    summary_stats.columns = ['data_source', 'country_code', 'position_month', 'total_jobs_sum', 'total_positions_sum', 'unique_sources']
    
    summary_filename = f"Summary_Stats_Dynamic_{date_range_suffix}.csv"
    try:
        summary_stats.to_csv(summary_filename, index=False)
        print(f"âœ… Summary statistics saved to: {summary_filename}")
    except Exception as e:
        print(f"âŒ Error saving summary statistics: {e}")
    
    # Monthly aggregation for trend analysis
    monthly_trends = combined_final_df.groupby(['position_month', 'data_source']).agg({
        'total_jobs': 'sum',
        'total_positions': 'sum',
        'country_code': 'nunique'
    }).reset_index()
    monthly_trends.columns = ['position_month', 'data_source', 'total_jobs', 'total_positions', 'unique_countries']
    
    trends_filename = f"Monthly_Trends_Dynamic_{date_range_suffix}.csv"
    try:
        monthly_trends.to_csv(trends_filename, index=False)
        print(f"âœ… Monthly trends saved to: {trends_filename}")
    except Exception as e:
        print(f"âŒ Error saving monthly trends: {e}")
else:
    print("âš ï¸ No combined data to save")

# Save timing report if available
if not mysql_timing_df.empty:
    timing_filename = f"MySQL_Timing_Report_Dynamic_{date_range_suffix}.csv"
    try:
        mysql_timing_df.to_csv(timing_filename, index=False)
        print(f"âœ… MySQL timing report saved to: {timing_filename}")
    except Exception as e:
        print(f"âŒ Error saving timing report: {e}")

âœ… Combined dataset saved to: Combined_MoM_Country_Source_Volume_Dynamic_20250601_20250630.csv
âœ… Country mapping saved to: Country_Source_Mapping_20250601_20250630.csv
âœ… Summary statistics saved to: Summary_Stats_Dynamic_20250601_20250630.csv
âœ… Monthly trends saved to: Monthly_Trends_Dynamic_20250601_20250630.csv
âœ… MySQL timing report saved to: MySQL_Timing_Report_Dynamic_20250601_20250630.csv

## Final Analysis Summary

In [11]:
# Generate comprehensive analysis summary
if not combined_final_df.empty and start_date and end_date:
    print("\n" + "="*80)
    print("ðŸ“Š DYNAMIC DATA ANALYSIS SUMMARY")
    print("="*80)
    print(f"ðŸ“… Analysis Period: {start_date} to {end_date}")
    print(f"ðŸ“Š Total Records: {len(combined_final_df):,}")
    print(f"ðŸŒ Countries Covered: {combined_final_df['country_code'].nunique()}")
    print(f"ðŸ“š Languages: {combined_final_df['language'].nunique()}")
    print(f"ðŸ¢ Unique Sources: {combined_final_df['source_id'].nunique()}")
    
    total_jobs = combined_final_df['total_jobs'].sum()
    total_positions = combined_final_df['total_positions'].sum()
    print(f"ðŸ’¼ Total Jobs: {total_jobs:,}")
    print(f"ðŸ“ Total Positions: {total_positions:,}")
    
    print("\nðŸŽ¯ DATA SOURCE STRATEGY EXECUTED:")
    print(f"   MySQL Individual Schemas: {len(mysql_countries)} countries")
    print(f"   Lakehouse meth_2012: {len(lakehouse_countries)} countries")
    print(f"   Lakehouse positions_us_v1: US")
    
    print("\nðŸ“Š MYSQL COUNTRIES:")
    mysql_data = combined_final_df[combined_final_df['data_source'] == 'mysql']
    if not mysql_data.empty:
        mysql_country_stats = mysql_data.groupby('country_code')['total_jobs'].sum().sort_values(ascending=False)
        for country, jobs in mysql_country_stats.items():
            print(f"   {country}: {jobs:,} jobs (via positions_{country.lower()}_v1)")
    else:
        print("   No MySQL data available")
    
    print("\nðŸ¢ LAKEHOUSE COUNTRIES:")
    athena_data = combined_final_df[combined_final_df['data_source'] == 'athena']
    if not athena_data.empty:
        athena_country_stats = athena_data.groupby('country_code')['total_jobs'].sum().sort_values(ascending=False)
        for country, jobs in athena_country_stats.items():
            schema_type = 'positions_us_v1' if country == 'US' else 'meth_2012'
            print(f"   {country}: {jobs:,} jobs (via {schema_type})")
    else:
        print("   No lakehouse data available")
    
    print("\nðŸ” TOP 10 COUNTRIES BY TOTAL JOBS:")
    top_countries = combined_final_df.groupby('country_code')['total_jobs'].sum().sort_values(ascending=False).head(10)
    for country, jobs in top_countries.items():
        source = 'MySQL' if country in mysql_countries else 'Lakehouse'
        print(f"   {country}: {jobs:,} jobs ({source})")
    
    print("\nðŸ“ˆ DATA SOURCE BREAKDOWN:")
    source_breakdown = combined_final_df.groupby('data_source').agg({
        'total_jobs': 'sum',
        'total_positions': 'sum',
        'country_code': 'nunique'
    })
    for source in source_breakdown.index:
        jobs = source_breakdown.loc[source, 'total_jobs']
        positions = source_breakdown.loc[source, 'total_positions']
        countries = source_breakdown.loc[source, 'country_code']
        print(f"   {source.upper()}: {jobs:,} jobs, {positions:,} positions, {countries} countries")
    
    print("\nðŸ“… MONTHLY DISTRIBUTION:")
    monthly_dist = combined_final_df.groupby('position_month')['total_jobs'].sum().sort_index()
    for month, jobs in monthly_dist.items():
        print(f"   {month}: {jobs:,} jobs")
    
    print("\n" + "="*80)
    print(f"ðŸ“ Files Generated:")
    print(f"   â€¢ Combined_MoM_Country_Source_Volume_Dynamic_{date_range_suffix}.csv")
    print(f"   â€¢ Country_Source_Mapping_{date_range_suffix}.csv")
    print(f"   â€¢ Summary_Stats_Dynamic_{date_range_suffix}.csv")
    print(f"   â€¢ Monthly_Trends_Dynamic_{date_range_suffix}.csv")
    if not mysql_timing_df.empty:
        print(f"   â€¢ MySQL_Timing_Report_Dynamic_{date_range_suffix}.csv")
    print("\nðŸŽ‰ DYNAMIC COUNTRY DETECTION SUCCESSFUL!")
    print("   No manual country lists required - all countries automatically detected and optimally sourced.")
    print("="*80)
else:
    print("âš ï¸ No data available for analysis summary")

================================================================================
ðŸ“Š DYNAMIC DATA ANALYSIS SUMMARY
================================================================================
ðŸ“… Analysis Period: 2025-06-01 to 2025-06-30
ðŸ“Š Total Records: 22,392
ðŸŒ Countries Covered: 47
ðŸ“š Languages: 43
ðŸ¢ Unique Sources: 8151
ðŸ’¼ Total Jobs: 6,502,419
ðŸ“ Total Positions: 4,738,223

ðŸŽ¯ DATA SOURCE STRATEGY EXECUTED:
   MySQL Individual Schemas: 45 countries
   Lakehouse meth_2012: 204 countries
   Lakehouse positions_us_v1: US

ðŸ“Š MYSQL COUNTRIES:
   FR: 1,675,495 jobs (via positions_fr_v1)
   GB: 1,219,272 jobs (via positions_gb_v1)
   CO: 871,312 jobs (via positions_co_v1)
   AU: 544,950 jobs (via positions_au_v1)
   CA: 499,760 jobs (via positions_ca_v1)
   PE: 371,406 jobs (via positions_pe_v1)
   CL: 138,527 jobs (via positions_cl_v1)
   ID: 120,941 jobs (via positions_id_v1)
   PT: 92,852 jobs (via positions_pt_v1)
   UA: 89,651 jobs (via positions_ua_v1)
   TW: 72,929 jobs (via positions_tw_v1)
   PH: 66,970 jobs (via positions_ph_v1)
   HK: 59,588 jobs (via positions_hk_v1)
   VN: 54,373 jobs (via positions_vn_v1)
   PA: 51,217 jobs (via positions_pa_v1)
   SV: 45,424 jobs (via positions_sv_v1)
   NI: 31,266 jobs (via positions_ni_v1)
   HN: 22,540 jobs (via positions_hn_v1)
   KE: 20,210 jobs (via positions_ke_v1)
   VE: 20,061 jobs (via positions_ve_v1)
   UY: 18,553 jobs (via positions_uy_v1)
   EC: 17,449 jobs (via positions_ec_v1)
   NG: 16,978 jobs (via positions_ng_v1)
   DO: 16,348 jobs (via positions_do_v1)
   LT: 15,234 jobs (via positions_lt_v1)
   EG: 10,689 jobs (via positions_eg_v1)
   LV: 10,655 jobs (via positions_lv_v1)
   GT: 10,237 jobs (via positions_gt_v1)
   PK: 10,009 jobs (via positions_pk_v1)
   BD: 8,188 jobs (via positions_bd_v1)
   QA: 6,596 jobs (via positions_qa_v1)
   RS: 5,440 jobs (via positions_rs_v1)
   MA: 4,824 jobs (via positions_ma_v1)
   IL: 4,531 jobs (via positions_il_v1)
   BG: 4,112 jobs (via positions_bg_v1)
   GR: 3,372 jobs (via positions_gr_v1)
   KW: 2,811 jobs (via positions_kw_v1)
   SK: 2,513 jobs (via positions_sk_v1)
   HR: 2,373 jobs (via positions_hr_v1)
   OM: 1,983 jobs (via positions_om_v1)
   BH: 1,641 jobs (via positions_bh_v1)
   GH: 1,350 jobs (via positions_gh_v1)
   MT: 1,010 jobs (via positions_mt_v1)
   BA: 436 jobs (via positions_ba_v1)
   HRF: 32 jobs (via positions_hrf_v1)

ðŸ¢ LAKEHOUSE COUNTRIES:
   AR: 216,809 jobs (via meth_2012)
   AE: 39,502 jobs (via meth_2012)

ðŸ” TOP 10 COUNTRIES BY TOTAL JOBS:
   FR: 1,675,495 jobs (MySQL)
   GB: 1,219,272 jobs (MySQL)
   CO: 871,312 jobs (MySQL)
   AU: 544,950 jobs (MySQL)
   CA: 499,760 jobs (MySQL)
   PE: 371,406 jobs (MySQL)
   AR: 216,809 jobs (Lakehouse)
   CL: 138,527 jobs (MySQL)
   ID: 120,941 jobs (MySQL)
   PT: 92,852 jobs (MySQL)

ðŸ“ˆ DATA SOURCE BREAKDOWN:
   ATHENA: 256,311 jobs, 140,294 positions, 2 countries
   MYSQL: 6,246,108 jobs, 4,597,929 positions, 45 countries

ðŸ“… MONTHLY DISTRIBUTION:
   Jun-25: 6,502,419 jobs

================================================================================
ðŸ“ Files Generated:
   â€¢ Combined_MoM_Country_Source_Volume_Dynamic_20250601_20250630.csv
   â€¢ Country_Source_Mapping_20250601_20250630.csv
   â€¢ Summary_Stats_Dynamic_20250601_20250630.csv
   â€¢ Monthly_Trends_Dynamic_20250601_20250630.csv
   â€¢ MySQL_Timing_Report_Dynamic_20250601_20250630.csv

ðŸŽ‰ DYNAMIC COUNTRY DETECTION SUCCESSFUL!
   No manual country lists required - all countries automatically detected and optimally sourced.
================================================================================

## Cleanup

In [12]:
# Close connections
if mysql_conn and mysql_conn.is_connected():
    mysql_conn.close()
    print("âœ… MySQL connection closed.")

print("\nðŸŽ‰ Script execution completed!")
if not combined_final_df.empty and start_date and end_date:
    print(f"ðŸ“Š Final dataset contains {len(combined_final_df):,} rows across {combined_final_df['country_code'].nunique()} countries")
    print(f"ðŸ“… Date range analyzed: {start_date} to {end_date}")
    print(f"ðŸ—‚ï¸ Files saved with date range suffix: {date_range_suffix}")
    
    # Calculate date range span
    from datetime import datetime
    start_dt = datetime.strptime(start_date, "%Y-%m-%d")
    end_dt = datetime.strptime(end_date, "%Y-%m-%d")
    days_span = (end_dt - start_dt).days + 1
    print(f"â±ï¸ Analysis covers {days_span} days")
    print(f"ðŸ¤– Dynamic country detection: {len(mysql_countries)} from MySQL + {len(lakehouse_countries)} from Lakehouse + US")

âœ… MySQL connection closed.

ðŸŽ‰ Script execution completed!
ðŸ“Š Final dataset contains 22,392 rows across 47 countries
ðŸ“… Date range analyzed: 2025-06-01 to 2025-06-30
ðŸ—‚ï¸ Files saved with date range suffix: 20250601_20250630
â±ï¸ Analysis covers 30 days
ðŸ¤– Dynamic country detection: 45 from MySQL + 204 from Lakehouse + US